{% extends 'layout.html' %}
{% block head %}
<title>Animals List</title>

<style>
  body :not(nav):not(footer) {
    box-sizing: border-box;
    margin: 5px;
  }
</style>
{% endblock %}
{% block body %}
<legend>Animal list</legend><br>
<table border="1" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Animal_id</th>
      <th scope="col">Animal name</th>
      <th scope="col">Years old</th>
      <th scope="col">Disease</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  {% for result in results %}

  <tr>
    <td>{{result[0]}}</td>
    <td>{{result[1]}}</td>
    <td>{{result[2]}}</td>
    <td>{{result[3]}}</td>
    <td><a href="/edit_animal/{{result[0]}}" class="btn btn-primary">Edit</a></td>
    <td>
      <form action="{{url_for('delete_animal', animal_id=result[0])}}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </td>


  </tr>


  {% endfor %}
</table>

<a href="/addanimal" class="btn btn-primary">Add</a>
<br>
<br>
{% endblock %}
